{
    "enabled": true,
    "testnet": true,
    "coin": "energi.json",

    "auxes": [
    ],
    "address": "<energiAddress>",

    "rewardRecipients": {
    },

    "paymentProcessing": {
        "enabled": true,
        "paymentInterval": 300,
        "minimumPayment": 2,
        "daemon": {
            "host": "127.0.0.1",
            "port": 19796,
            "user": "energirpc",
            "password": "<password>"
        }
    },

    "ports": {
        "19795": {
            "diff": 0.01,
            "varDiff": {
                "minDiff": 0.001,
                "maxDiff": 256,
                "targetTime": 15,
                "retargetTime": 90,
                "variancePercent": 30
            }
        }
    },

    "daemons": [
        {
            "host": "127.0.0.1",
            "port": 19796,
            "user": "energirpc",
            "password": "<password>"
        }
    ],

    "p2p": {
        "enabled": true,
        "host": "127.0.0.1",
        "port": 19796,
        "disableTransactions": true
    }
}
