{
    "enabled": true,
    "coin": "energi.json",

    "auxes": [
    ],
    "address": "<energiAddress>",

    "rewardRecipients": {
    },

    "paymentProcessing": {
        "enabled": true,
        "paymentInterval": 30,
        "minimumPayment": 0.01,
        "daemon": {
            "host": "127.0.0.1",
            "port": 9796,
            "user": "energirpc",
            "password": "<password>"
        }
    },

    "ports": {
        "9795": {
            "diff": 8,
            "varDiff": {
                "minDiff": 2,
                "maxDiff": 512,
                "targetTime": 5,
                "retargetTime": 15,
                "variancePercent": 30
            }
        }
    },

    "daemons": [
        {
            "host": "127.0.0.1",
            "port": 9796,
            "user": "energirpc",
            "password": "<password>"
        }
    ],

    "p2p": {
        "enabled": true,
        "host": "127.0.0.1",
        "port": 9797,
        "disableTransactions": true
    }
}
